@import "../../../../../styles/_variables";

.containerWorkoutExercise {
  display: flex;
  width: 85vw;
  margin-left: 25px;
  justify-content: space-between;
  height: 12vh;
  align-items: center;
  @media (max-width: 380px) {
    height: 14vh;
  }
  @media (min-width: 720px) {
    height: 20vh;
  }
  .imageYoutube {
    width: 80px;
    @media (max-width: 380px) {
      width: 70px;
    }
    @media (min-width: 720px) {
      width: 160px;
    }
  }
}

.containerExerciseDetails {
  p {
    margin: 0px;
    font-weight: 500;
  }
  .exerciseName {
    color: $third-color;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 55vw;
    @media (max-width: 380px) {
      font-size: 18px;
    }
  }
  .exerciseReps {
    font-size: 18px;
    @media (max-width: 380px) {
      font-size: 16px;
    }
  }
}
