@import "../../../styles/variables";

.containerWorkoutNotAvailable {
  text-align: center;
  h1 {
    font-size: 46px;
    font-weight: 600;
  }
  h1:nth-child(1) {
    margin-bottom: 0;
  }
  h1:nth-child(2) {
    margin-top: 0;
  }
  p {
    font-size: 20px;
    margin-top: 0;
    color: $third-color;
  }
}
