@import "../../../../../styles/variables";

.containerTimeProgress {
  text-align: center;
  span {
    color: $secondary-color;
    font-weight: 600;
    font-size: 60px;
    margin: 0;
    text-align: center;
    @media (max-width: 380px) {
      font-size: 30px;
    }
  }
}
