@import "../../../../../styles/variables";

.containerRestTime {
  p {
    color: $secondary-color;
    font-weight: 600;
    font-size: 170px;
    margin: 0;
    text-align: center;
    @media (max-width: 380px) {
      font-size: 130px;
    }
  }
}
