@import "../../../styles/variables";

.containerWorkoutInProgress {
  background-color: $primary-color;
  margin-top: 20px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.containerLoader {
  align-items: center;
}
