@import "_variables.scss";

.containerForm {
  width: 100%;
  text-align: center;

  label {
    color: $primary-color;
    margin-top: 10px;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 70%;
  }

  button {
    margin-top: 25px;
    background-color: $primary-color;
    color: black;
    border-radius: 8px;
    height: 40px;
    width: 80%;
    font-family: "Poppins";
    font-weight: 500;
    border: none;
  }

  input {
    background-color: black;
    border: 2px solid $primary-color;
    border-radius: 8px;
    height: 40px;
    color: $third-color;
  }
}
